/* VARIABLER */
/* GENERELT */
html,
body {
  margin: 0;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ddd;
}

img {
  padding-top: 20px;
  width: 100%;
  border-radius: 50%;
}

/* FORM*/
.button {
  color: #ffffff;
  background-color: #feb700;
  padding: 12px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 20px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}

.button a {
  color: #ffffff;
}

button:hover,
button:active,
button:focus {
  transform: scale(1.1);
}

input {
  min-height: 30px;
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
}

input[type="tel"] {
  width: 30%;
}

/* input:valid {
  border-color: #24cf5f;
} */
input:focus {
  outline: none;
  border-color: #dc5f11;
}

.form-list {
  padding-left: 0;
  list-style: none;
}

.form-list__row {
  margin-bottom: 25px;
}

.form-list__row label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #939393;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.modal__container {
  display: flex;
  width: 675px;
  height: 100%;
  margin-bottom: 125px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.modal__featured {
  position: relative;
  flex: 1;
  min-width: 230px;
  padding: 20px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modal__circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  background-color: #dc5f11;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.modal__product {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 85%;
  transform: translateX(calc(-50% - 10px));
}

.modal__product2 {
  position: absolute;
  top: 25%;
  left: 70%;
  width: 100%;
  transform: translateX(calc(-50% - 10px));
  font-size: 12px;
  line-height: 2;
  color: white;
}

.modal__content {
  padding: 40px 30px;
  width: 700px;
}

.fb-but {
  height: 40px;
  width: 150px;
  color: white;
  background-color: #4167b2;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s;
}

.hej {
  text-align: center;
}

.hej p {
  font-size: 12px;
  font-weight: bold;
}

.wrap-knap {
  display: grid;
  grid-template-columns: auto auto;
}
